body {
    background-image: url(../images/mcdowells.jpg);
}

/* .container {
    background-color: rgba(255, 255, 204, 0.5);
} */

#non-devoured-burgers {
    background-color: rgba(255, 255, 204, 0.5);
    float: left;
    /* width: 100%; */
}

#add-burger {
    background-color: rgba(255, 255, 204, 0.5);
    float: left;
    position: relative;
    bottom: 400px;
}

#devoured-burgers {
    background-color: rgba(255, 255, 204, 0.5);
    float: right;
}

