body {
    background-image: url(../images/mcdowells.jpg);
}

/* .container {
    background-color: rgba(255, 255, 204, 0.5);
} */

#non-devoured-burgers {
    background-color: rgba(255, 255, 204, 0.5);
    float: left;
    width: 350px;
    border: 1px;
    border-style: solid;
}

#add-burger {
    background-color: rgba(255, 255, 204, 0.5);
    float: left;
    /* width: 350px; */
    /* position: relative; */
    /* bottom: 400px; */
    margin-left: 76px;
    border: 1px;
    border-style: solid;
}

#devoured-burgers {
    background-color: rgba(255, 255, 204, 0.5);
    float: right;
    width: 350px;
    border: 1px;
    border-style: solid;
}

