<li>
    {{burger_name}}

    <button class="change-devoured btn btn-primary" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#unless devoured}}Devour It!{{/unless}}

    </button>

    <button class="delete-burger btn btn-danger" data-id="{{this.id}}">{{#if devoured}}Delete Burger{{/if}}</button>

</li>