<li>
    {{burger_name}}

    {{#unless devoured}}
    <button class="change-devoured btn btn-primary" data-id="{{id}}" data-devoured="{{devoured}}">
        Devour It!
    </button>
    {{/unless}}

    {{#if devoured}}
    <button class="delete-burger btn btn-danger" data-id="{{this.id}}">Delete Burger</button>
    {{/if}}
</li>